li{

display: flex;
justify-content: space-around;

margin-top: 10px;   
           
}

p:nth-child(odd):hover {
    width: 12%;
    animation: desliza 1s 0.5s 2 linear, desaparece 1s 0.5s 2 linear;
    cursor: hand;
    cursor: pointer;
  }

  p{

    border-radius: 50px;
    background: #f0f0f0;
    box-shadow:  19px 19px 16px #c7c7c7,
                 -19px -19px 16px #ffffff;

  }
  p:nth-child(2){
    color: blue;
    padding-left: 10px;
    padding-top: 10px;
   width: 40%;
   height: 30px;
   }

 p:nth-child(odd){
  width: 10%;
  padding-top: 10px;
  padding-left: 30px;
 }

 .TodoItem-p--complete{
  text-decoration: line-through;
 }

 /*.Icon-check{
  position: absolute;
  left: 12px;
 }*/

 .Icon-check--active{
  color: blue;
 }
 /*.Icon-delete{
  position: absolute;
  top:-24px;
  right: 0;
 }*/
 .Icon-delete:hover{
  color: red;
 }