.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: calc(100vh - 90px); 

    border-radius: 50px;
    background: #f0f0f0;
    box-shadow: inset 5px 5px 0px #c7c7c7,
            inset -5px -5px 0px #ffffff; 


 padding-top: 10px;
 margin-left: 10%;
 margin-top: 3%;
}

ul{
    width: 90%;
    padding-inline-start: 0;


}

@media (max-width: 640px) {
    .conteiner{
        width: 100%;
        margin-left: 0%;
    }
    h1 {
        width: 70%;  
        padding: 4px;
    }
    input{
        width: 70%;
    }
}